html,
body {
	margin: 0;
	padding: 0;
}

.flex-container {
	display: flex;
	flex-direction: column;
	background-color: DodgerBlue;
}

.flex-container>div {
	background-color: #f1f1f1;
	margin: 1px;
	text-align: center;
	font-size: 30px;
	padding: 0px;
}

.col1 {
	line-height: 50px position:fixed;
}

.col2 {
	margin-top: 0;
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	line-height: 4;
}

.col2>* {
	padding: 0px;
	flex: 1 100%;
}

.col2 p {
	margin-top: 50;
	padding: 0;
	font-size: 20px;
	line-height: 35px;
}

.col3 {
	line-height: 50px;
}

footer {
	background: #061D25;
	padding: 10px 0;
	text-align: center;
}

footer a {
	color: #70726F;
	font-size: 20px;
	padding: 10px;
	border-right: 1px solid #70726F;
	transition: all .5s ease;
}

footer a:first-child {
	border-left: 1px solid #70726F;
}

footer a:hover {
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	font-size: large;
	padding: 0;
	overflow: hidden;
	background-color: lightblue;
	position: fixed;
	width: 100%;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: darkblue;
}

li .logo {
	width: 50px;
	height: 50px;
	float: right;
}

img {
	width: 100%;
}

.container1 {
	max-width: 960px;
	margin: 0 auto;
}

section.section:last-child {
	margin-bottom: 0;
}

section.section h2 {
	margin-bottom: 40px;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
}

section.section p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

section.section p:last-child {
	margin-bottom: 0;
}

section.section.content {
	padding: 40px 0;
}

section.section.parallax {
	height: 600px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section.section.parallax h1 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 600px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.section.parallax-1 {
	background-image: url("../images/jurgenklopp.jpg");
}

section.section.parallax-2 {
	background-image: url("../images/PepGuardiola.jpg");
}

section.section.parallax-3 {
	background-image: url("../images/sarri.jpg");
}

section.section.parallax-4 {
	background-image: url("../images/josemourinho.jpg");
}

section.section.parallax-5 {
	background-image: url("../images/UnaiEmery.jpg");
}

@media all and (min-width: 300px) {
	/*Mobile View*/
	section.section h2 {
		font-size: 28px;
	}
	section.section p {
		font-size: 20px;
	}
	section.section.parallax h1 {
		font-size: 28px;
		padding: 0;
		text-align: center;
	}
	.col2 h1 {
		font-size: 28px;
	}
	.col2 p {
		font-size: 20px;
	}
}

@media all and (min-width: 700px) {
	/*Desktop view and over*/
	section.section h2 {
		font-size: 32px;
	}
	section.section p {
		font-size: 20px;
	}
	section.section.parallax h1 {
		font-size: 70px;
		padding: 0;
		text-align: center;
	}
}